/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/


/* Main */

:root {
    --primary_color: black;
    --divider_color: rgb(155, 117, 91);
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    text-align: left;
    margin: 0;
    background: #fff;
}

h1 {
    font-size: 6em;
    font-weight: 800;
    margin: 0;
    color: var(--primary_color);
}

h2 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 2em;
    color: rgb(26, 17, 0);
}

p {
    font-size: 1.5em;
    font-weight: 200;
    color: rgb(56, 37, 0);
}

ul {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    overflow-y: auto;
    min-height: calc(100vh - 50px);
}

#content {
    z-index: 1;
    width: 650px;
    min-width: 650px;
    margin: 100px 0 50px 150px;
}

#intro {
    margin-top: 3em;
    margin-bottom: 5em;
    text-align: left;
}

#intro p {
    margin: 1em 0;
}

#title h2 {
    margin-top: 10px;
}

/* LOGO / HEADER */

header {
    position: fixed;
    width: 70vw;
    z-index: 10;
    height: 75px;
    background: #fff;
    padding-left: 150px;
    min-width: 650px;
}

header span {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: inherit;
    text-align: right;
    display: flex;
    align-items: center;
    border-bottom: var(--divider_color) solid 2px;
}

header .logo .icon {
    width: 25px;
    height: 25px;
    fill: #000;
    margin:0;
}

.header-title {
    font-size: 2em;
    width: 65vw;
    min-width: 600px;
    text-align: left;
    float: left;
    color: #000;
}

/* BUTTON LINKS TO ARTICLES */

#links {
    width: 70vw;
    min-width: 650px;
    max-width: 1000px;
}

#nbahwbg-SVG, #heighthist-SVG  {
    box-shadow: 0.8em 1.5em 3em 0em #888888;
    margin-bottom: 3em;
}

.link-title-nbahw, .link-title-hhist {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0;
}

.link-desc-nbahw, .link-desc-hhist {
    font-size: 1.5em;
    letter-spacing: .1em;
    margin: 0;
}

/* BLOG LINKS / FOOTER */

footer {
    position: absolute;
    height: 50px;
    width: 70vw;
    margin: 30vh 0 0 150px;
    background: #fff;
    margin-top: 30vh;
}

#blog {
    font-size: 1.5em;
    text-align: right;
    color: rgb(0, 0, 0);
    border-top: var(--divider_color) solid 2px;
    padding: 10px 0 10px 0;
    min-width: 750px;
}

#blog a {
    color: #000 !important;
    text-decoration: underline;
}
