/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/


/* Main */

:root {
    --primary_color: black;
}


body {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    text-align: left;
    margin: 0 0 100px 150px;
    max-width: 1050px;
}

h1 {
    font-size: 6em;
    font-weight: 800;
    margin: 0;
    color: var(--primary_color);
}

h2 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 2em;
    color: rgb(26, 17, 0);
}

p {
    font-size: 1.5em;
    font-weight: 200;
    color: rgb(56, 37, 0);
}

ul {
    font-size: 1.4em;
}

a {
    color: var(--primary_color) !important;
    text-decoration: none;
}

#body {
    position: relative;
}

#content {
    z-index: 1;
    padding: 110px 0 0 0;
    max-width: 650px;
    margin-bottom: 5%;
}

#intro {
    margin-top: 3em;
    margin-bottom: 5em;
    text-align: left;
}

#intro p {
    margin: 1em 0;
}

#title h2 {
    margin-top: 10px;
    margin-left: -30px;
}

/* LOGO / HEADER */

#logo {
    position: fixed;
    width: 75vw;
    z-index: 10;
    background: white;
    height: 100px;
    border-bottom: rgb(187, 119, 31) solid 3px;
    margin-left: -35px;
}

#logo span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 50px;
}

#logo img {
    margin-bottom: 10px;
}

.header-title {
    font-size: 3em;
    width: 50%;
    text-align: left;
    float: left;
    overflow: hidden;
    margin-top: 10px; 
}

/* BUTTON LINKS TO ARTICLES */
/* Submit Button */

.link {
    width: 50vw;
    height: auto;
    border: rgb(187, 119, 31) solid 2px;
    font-size: 1.5vw;
    background: 0 0;
    padding: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

.link:hover, .link:hover a {
    opacity: .8;
    background: rgb(187, 119, 31);
    color: #fff !important;
}

/* BLOG LINKS / FOOTER */

#blog {
    width: 75vw;
    font-size: 1.5em;
    height: 5%;
    bottom: 5%;
    margin-top: 5%;
    text-align: right;
    color: rgb(0, 0, 0);
    border-top: rgb(187, 119, 31) solid 3px;
    margin-left: -3vw;
    padding-top: 10px;
}

#blog a {
    text-decoration: underline;
}